<div class="cart-checkout-wrapper">
  <!-- display cart container if there are products in cart -->
  <div *ngIf="productsInCart.length > 0; else emptyCart" class="cart-container">
    <div class="cart-header">
      <h2>Your Shopping Cart</h2>
    </div>

    <div class="cart-grid">
      <!-- Loop through product in the cart and display detail -->
      <div *ngFor="let product of productsInCart" class="cart-item">
        <div class="cart-image-wrapper">
          <img
            class="product-img"
            [src]="product.url"
            alt="{{ product.name }}"
          />
        </div>

        <div class="cart-info">
          <h3 class="cart-product-name">{{ product.name }}</h3>
          <p class="cart-product-price">$ {{ product.price }}</p>
          <div class="cart-quantity-control">
            <label for="quantity">Quantity: </label>
            <!-- this bind to product quantity -->
            <input
              id="quantity"
              type="number"
              [value]="product.quantity"
              (change)="updateQuantity(product.id, $event)"
              class="quantity-input"
              min="1"
            />
          </div>
        </div>

        <div class="cart-remove-btn">
          <button (click)="removeCart(product.id)" class="btn remove-btn">
            Remove
          </button>
        </div>
      </div>

      <div class="cart-summary">
        <p>
          Total: <strong>${{ totalPrice }}</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- Template for display when cart is empty -->
  <ng-template #emptyCart>
    <div class="empty-cart">
      <h3>Your cart is empty!</h3>
      <p>
        <a routerLink="/">Visit Products Page</a> to add items to your cart.
      </p>
    </div>
  </ng-template>

  <!-- shown checkout form if there are products in the cart -->
  <div *ngIf="productsInCart.length > 0" class="checkout-container">
    <app-order-form
      (checkoutSuccess)="checkoutSuccess($event)"
    ></app-order-form>
  </div>
</div>
