<div *ngIf="product" class="detail-container">
  <div class="detail-content">
    <div class="product-image-container">
      <img class="product-image" [src]="product.url" [alt]="product.name" />
    </div>
    <div class="detail-item">
      <div class="product-item-detail product-title">
        <b>{{ product.name }}</b>
      </div>
      <div class="product-item-detail">$ {{ product.price }}</div>
      <div class="product-item-detail">
        {{ product.description }}
      </div>

      <button
        (click)="addToCart(product)"
        class="product-item-detail btn btn-primary"
      >
        Add to Cart
      </button>

      <div class="product-item-detail">
        <a routerLink="/"> &larr; Return to product list </a>
      </div>
    </div>
  </div>
</div>
